:root {
    --primary: #0A65FF;
    --negative: #E01A1A;
    --positive: #008400;
    --info: #0276BA;
    --warning: #BA5300;
    --white: #FFFFFF;
    --bg-base: #F7F9FC;
    --primary-text: #2E3B52;
    --secondary-text: #606FB9;
    --icon: #6F809E;
    --stroke: #7D90B2;
    --primary-bg-input: #DAE1EC;
    --selected: #EBF2FF;
    --stripes: #F4F7FC;
    --label: #464F60;
    --grey: #cccccc;
    --black: #000000;
}