.cash-flow-table {
    margin: 0 auto;
    border: 1px solid var(--primary-bg-input);
    background: var(--stripes);
    padding: 0 0 24px 0px;
    margin-top: 24px;
}

.cash-flow-table__table {
    width: 100%;
    border-collapse: collapse
}

.cash-flow-table__body--no-transactions-message {
    font-size: 12px;
    font-weight: 700;
    color: var(--label);
    margin-top: 30px;
    text-transform: uppercase;
    text-align: center;

}

.cash-flow-table__row--white {
    background: var(--white);
}

.cash-flow-table__row {
    height: 64px;
}

.cash-flow-table__header .cash-flow-table__cell {
    font-size: 12px;
    font-weight: 700;
    color: var(--label);
    margin-bottom: 8px;
    text-transform: uppercase;
}

.cash-flow-table__cell {
    text-align: left;
    border: none;
    padding: 0px 10px;
    font-size: 14px;
    font-weight: 400;
    color: var(--label);
}

.cash-flow-table__checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cash-flow-table__checkbox--input {
    display: none;
}

.cash-flow-table__checkbox--box {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
    position: relative;
    background-color: white;
}

.cash-flow-table__checkbox--input:checked+.cash-flow-table__checkbox--box {
    background-color: var(--primary);
    border-color: var(--primary);
}

.cash-flow-table__checkbox--box::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    left: 7px;
    top: 3px;
    opacity: 0;
    border-radius: 5px;
}

.cash-flow-table__checkbox--input:checked+.cash-flow-table__checkbox--box::after {
    opacity: 1;
}

.cash-flow-table__cell--E {
    color: var(--positive);
    background-color: rgba(44, 217, 44, 0.5);
    border-radius: 10%;
    font-size: 11px;
    padding: 7px;
}

.cash-flow-table__cell--S {
    color: var(--negative);
    background-color: rgba(253, 34, 34, 0.2);
    border-radius: 10%;
    padding: 7px;
    font-size: 11px;
}

.fa-solid {
    cursor: pointer;
}

.fa-trash {
    color: var(--negative);
}

.cash-flow-table-container {
    border-radius: 5px;
    border: 1px solid var(--primary-bg-input);
    background: var(--white);
    display: flex;
    align-items: flex-end;
    padding: 24px;
    margin: 0 auto;
    justify-content: space-between;
}

.cash-flow-table-container__box {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.cash-flow-table-container__box--label {
    font-size: 11px;
    font-weight: 700;
    color: var(--label);
    margin-bottom: 8px;
    text-transform: uppercase;
}


.cash-flow-table-container__box--input.date {
    border-radius: 5px;
    border: 1px solid var(--primary-bg-input);
    height: 32px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    padding: 0px 10px;
}

.cash-flow-table-container__box--select {
    border-radius: 5px;
    border: 1px solid var(--primary-bg-input);
    height: 32px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    padding: 0px 10px;
}

.cash-flow-table-container__box--select:focus,
.cash-flow-table-container__box--input:focus {
    outline: none;
    border: 1px solid var(--primary);
}

.cash-flow-table__paginator {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-between;
}

.cash-flow-table__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 24px;
    margin-top: 12px;
}

.cash-flow-table__footer--text {
    font-size: 12px;
    color: var(--text);
}

.align-right {
    text-align: end;
}

.cash-flow-table-container__box--selected {
    color: var(--label);
    font-size: 12px;
    font-weight: 700;
    margin-right: 10px;
}

.cash-flow-table-container__box--trash {
    padding: 5px;
    background-color: var(--stripes);
    border-radius: 5px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--grey);
    cursor: pointer;
}

.cash-flow-table-container__delete {
    display: flex;
    align-items: center;
}

.cash-flow-table__modal {
    width: 300px;
    z-index: 9999;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.cash-flow-table__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 5;
}

.cash-flow-table__modal--close{
    margin-left: 90%;
    font-size: 27px;
    color: red;
    cursor: pointer;
    background-color: var(--white);
}

.cash-flow-table__modal--title{
    text-align: center;
    color: var(--label);
    font-size: 18px;
    margin-bottom: 40px;
}

.cash-flow-table__modal--button-primary{
    width: 40%;
    background: var(--primary);
    color: var(--white);
    height: 32px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10%;
}

.cash-flow-table__modal--button-secondary{
    width: 40%;
    background: var(--negative);
    color: var(--white);
    height: 32px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10%;
}

.cash-flow-form-container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cash-flow-form-container__box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cash-flow-form-container__box--label {
    font-size: 11px;
    font-weight: 700;
    color: var(--label);
    margin-bottom: 8px;
    text-transform: uppercase;
}

.cash-flow-form-container__box--select {
    border-radius: 5px;
    border: 1px solid var(--primary-bg-input);
    height: 32px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    padding: 0px 10px;
}

.cash-flow-form-container__box--input {
    border-radius: 5px;
    border: 1px solid var(--primary-bg-input);
    height: 32px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    padding: 0px 10px;
}

.cash-flow-form-container__box--select:focus {
    outline: none;
    border: 1px solid var(--primary);
}

.cash-flow-form-container__box--input:focus {
    outline: none;
    border: 1px solid var(--primary);
}

.cash-flow-form-container__box {
    margin-top: 25px;
    width: 90%;
}


input[type="date" i] {
    font-family: "Inter", sans-serif !important;
}

.cash-flow-form-container__button {
    width: 15%;
    background: var(--primary);
    color: var(--white);
    height: 32px;
    border-radius: 5px;
    cursor: pointer;
}

.cash-flow-form-container__button:disabled {
    background: var(--grey);
    cursor: no-drop;
    color: var(--black);
    font-family: "Inter", sans-serif;
}

.cash-flow-form-container__button-box{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

@media (max-width: 800px) {
    .cash-flow-table {
        padding: 10px;
    }
    
    .cash-flow-table__box--overflow{
        overflow-x: auto;
    }

    .cash-flow-table-container {
        flex-direction: column;
    }

    .cash-flow-table__row {
        height: aut
    }

    .cash-flow-table__header .cash-flow-table__cell,
    .cash-flow-table__cell {
        font-size: 10px;
        padding: 5px;
    }

    .cash-flow-table__cell--E,
    .cash-flow-table__cell--S {
        font-size: 10px;
        padding: 5px;
    }

    .cash-flow-table__checkbox--box {
        width: 15px;
        height: 15px;
    }

    .cash-flow-table__footer {
        flex-direction: column;
        align-items: center;
    }

    .cash-flow-table__paginator {
        width: 100%;
    }

    .cash-flow-table__modal {
        width: 90%;
        padding: 10px;
    }

    .cash-flow-table__modal--title,
    .cash-flow-table__modal--button-primary,
    .cash-flow-table__modal--button-secondary {
        font-size: 14px;
    }

    .cash-flow-table-container__box {
        width: 100%;
        margin-bottom: 20px;
    }

    .cash-flow-form-container__box--label {
        font-size: 10px;
        margin-bottom: 5px;
    }

    .cash-flow-form-container__box--input,
    .cash-flow-form-container__box--select {
        height: 28px;
        font-size: 12px;
    }

    .cash-flow-form-container__button {
        width: 100%;
        margin-top: 10px;
        height: 28px;
    }
}