<div class="cash-flow-table">
    <form class="cash-flow-table-container" [formGroup]="formTable">
        <div class="cash-flow-table-container__box">
            <label for="date" class="cash-flow-table-container__box--label">Data de
                transação</label>
            <input formControlName="date" class="cash-flow-table-container__box--input date" type="month"
                placeholder="AAAA-MM" formControlName="date" name="date">
        </div>
        <div class="cash-flow-table-container__box">
            <label for="quotationCurrency" class="cash-flow-table-container__box--label">Moeda</label>
            <select formControlName="quotationCurrency" name="quotationCurrency" type="text"
                class="cash-flow-table-container__box--select">
                <option disabled selected hidden>USD</option>
                <option *ngFor="let item of currencyList; let i = index" class="cash-flow-table-container__box--option"
                    [value]="item.value">{{ item.label }}</option>
            </select>
        </div>
    </form>
    <table class="cash-flow-table__table">
        <thead class="cash-flow-table__header">
            <tr class="cash-flow-table__row">
                <th class="cash-flow-table__cell">
                    <label class="cash-flow-table__checkbox">
                        <input type="checkbox" class="cash-flow-table__checkbox--input" [checked]="checkedAll"
                            (change)="handleCheckedAll($event)" />
                        <span class="cash-flow-table__checkbox--box"></span>
                    </label>
                </th>
                <th class="cash-flow-table__cell">#</th>
                <th class="cash-flow-table__cell">Data</th>
                <th class="cash-flow-table__cell">Descrição</th>
                <th class="cash-flow-table__cell">Entrada/Saida</th>
                <th class="cash-flow-table__cell">Valor</th>
                <th class="cash-flow-table__cell">Cotação</th>
                <th class="cash-flow-table__cell"></th>
                <th class="cash-flow-table__cell"></th>
            </tr>
        </thead>
        <tbody class="cash-flow-table__body">
            <tr class="cash-flow-table__row" *ngFor="let item of table; let index = index"
                [ngClass]="{'cash-flow-table__row--white': index % 2 === 0}">
                <td class="cash-flow-table__cell">
                    <label class="cash-flow-table__checkbox">
                        <input type="checkbox" class="cash-flow-table__checkbox--input" [checked]="item.selected" />
                        <span class="cash-flow-table__checkbox--box"></span>
                    </label>
                </td>
                <td class="cash-flow-table__cell">{{index}}</td>
                <td class="cash-flow-table__cell">{{item.date | date:'dd/MM/yyyy'}} </td>
                <td class="cash-flow-table__cell">{{item.description}}</td>
                <td class="cash-flow-table__cell">
                    <span
                        [ngClass]="{'cash-flow-table__cell--E': item.status === 'Entrada', 'cash-flow-table__cell--S': item.status !== 'Entrada'}">{{item.status}}</span>
                </td>
                <td class="cash-flow-table__cell">{{ item.amount | currency: 'BRL': 'symbol': '1.2-2' }}</td>
                <td class="cash-flow-table__cell">{{item.quotation | currency: currency: 'symbol': '1.2-2' }}</td>
                <td class="cash-flow-table__cell"><i class="fa-solid fa-pencil"></i></td>
                <td class="cash-flow-table__cell"><i class="fa-solid fa-trash"></i></td>
            </tr>
        </tbody>
    </table>

    <div class="cash-flow-table__footer">
        <p class="cash-flow-table__footer--text">1-10 of 97</p>
        <div class="cash-flow-table__paginator">
            <div>
                <p class="cash-flow-table__footer--text">Linhas por página: 10</p>
            </div>
            <span class="cash-flow-table__footer--text"><i class="fa-solid fa-arrow-left"></i></span>
            <span class="cash-flow-table__footer--text">1/10 </span>
            <span class="cash-flow-table__footer--text"><i class="fa-solid fa-arrow-right"></i></span>
        </div>
    </div>
</div>

<!-- const selectElement = document.getElementById('currencySelect');
      const originalTexts = [];

      selectElement.addEventListener('focus', function () {
        for (let i = 0; i < this.options.length; i++) {
          const option = this.options[i];
          originalTexts[i] = option.text; // Store original text
          const rate = option.getAttribute('value');
          option.classList.add('align-right');
          option.text = `${option.text} - ${rate}`;
        }
      });

      selectElement.addEventListener('blur', function () {
        for (let i = 0; i < this.options.length; i++) {
          const option = this.options[i];
          option.text = originalTexts[i]; // Restore original text
        }
      }); -->